* {
  box-sizing: border-box;
}
.customer-reviews {
  padding: 0px 0px 86px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 0px 0px 119px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 0px 132px;
  }
}
.customer-reviews__item {
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  display: block;
}
.customer-reviews__img {
  width: 85px;
  height: 85px;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}
.customer-reviews__content {
  background-color: getColor('sliderBgc');
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 43px 50px 20px 50px;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    padding: 47px 36px 28px 60px;
    width: 620px;
  }

  @media screen and (min-width: 1280px) {
    padding: 47px 54px 32px 59px;
    width: 926px;
  }

  &::after {
    content: '';
    display: block;
    width: 54px;
    height: 40px;
    position: absolute;
    z-index: 5;
    background-image: url(../images/customer-reviews/quotes-customer-reviews.svg);

    top: 28px;
    left: 61px;

    @media screen and (min-width: 768px) {
      top: 30px;
      left: 40px;
    }

    @media screen and (min-width: 1280px) {
      top: 32px;
      left: 50px;
    }
  }
}
.customer-reviews__text {
  font-weight: 500;
  line-height: 2.6;
  text-align: center;
  position: relative;

  z-index: 10;
  font-size: 12px;

  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px,
    transparent 31px
  );
  background-image: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px,
    transparent 31px
  );
  background-image: -ms-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px,
    transparent 31px
  );
  background-image: -o-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px,
    transparent 31px
  );
  background-image: repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px,
    transparent 31px
  );

  @media screen and (min-width: 768px) {
    font-size: 14px;

    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent -9px,
      transparent 29px,
      #e1e1e1 30px,
      transparent 30px
    );
    background-image: -moz-repeating-linear-gradient(
      top,
      transparent -9px,
      transparent 29px,
      #e1e1e1 30px,
      transparent 30px
    );
    background-image: -ms-repeating-linear-gradient(
      top,
      transparent -9px,
      transparent 29px,
      #e1e1e1 30px,
      transparent 30px
    );
    background-image: -o-repeating-linear-gradient(
      top,
      transparent -9px,
      transparent 29px,
      #e1e1e1 30px,
      transparent 30px
    );
    background-image: repeating-linear-gradient(
      top,
      transparent -9px,
      transparent 29px,
      #e1e1e1 30px,
      transparent 30px
    );
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;

    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent -14px,
      transparent 30px,
      #e1e1e1 31px,
      transparent 31px
    );
    background-image: -moz-repeating-linear-gradient(
      top,
      transparent -14px,
      transparent 30px,
      #e1e1e1 31px,
      transparent 31px
    );
    background-image: -ms-repeating-linear-gradient(
      top,
      transparent -14px,
      transparent 30px,
      #e1e1e1 31px,
      transparent 31px
    );
    background-image: -o-repeating-linear-gradient(
      top,
      transparent -14px,
      transparent 30px,
      #e1e1e1 31px,
      transparent 31px
    );
    background-image: repeating-linear-gradient(
      top,
      transparent -14px,
      transparent 30px,
      #e1e1e1 31px,
      transparent 31px
    );
  }
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.customer-reviews__dots {
  display: block;
  margin: 0 auto 18px auto;
  position: relative;
  background-color: getColor('darkbuttonHoverColor');
  width: 4px;
  height: 4px;
  border-radius: 50%;
  font-size: 0;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    left: -10px;
    border-radius: 50%;
    font-size: 0;
    background-color: getColor('darkbuttonHoverColor');
  }
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: getColor('darkbuttonHoverColor');
    border-radius: 50%;
    font-size: 0;
    left: 10px;
  }
}
// slider
ul.slick-dots {
  margin: 30px 0 0 0;
  text-align: center;
}
ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}
ul.slick-dots li button {
  border: none;
  background-color: #d9d9d9;
  outline: none;
  cursor: pointer;

  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
}
ul li.slick-active button {
  background: url(../images/customer-reviews/home-customer-reviews.svg) transparent;
  border-radius: 0;
}
