.footer {
  background-color: getColor('primaryBgc');
}
.footer__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  width: 161px;
  height: 44px;

  border: none;
  border-radius: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--dark {
    background-color: getColor('darkbuttonColor');
    color: getColor('secondaryText');
  }

  &--dark:hover,
  &--dark:focus {
    background-color: getColor('darkbuttonHoverColor');
  }
  &--light {
    margin-top: 10px;
    margin-bottom: 113px;
    background-color: getColor('lightbuttonColor');
    color: getColor('accent');
  }
  &--light:hover,
  &--light:focus {
    background-color: getColor('lightbuttonHoverColor');
  }
}
.footer__icon {
  margin-left: 10px;

  &--dark {
    fill: getColor('accent');
    stroke: getColor('accent');
  }

  &--light {
    fill: #fff;
    stroke: #fff;
  }
}

.footer__heading {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: getColor('secondarytitleText');

  margin-bottom: 17px;
}
.footer__caption {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('titleText');

  margin-bottom: 43px;
}
.networks {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  &__item:not(:last-child) {
    margin-right: 28.2px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fea5bb;
    // fill: fff;
    transition: background-color 250ms linear;
    &:hover,
    &:focus {
      background-color: #d41443;
    }
  }
}
.networks__icon {
  fill: fff;
}
.footer__contacts {
  margin-bottom: 43px;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  text-align: right;

  color: #000;
}
.footer__tel {
  color: #d41443;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid #e1e1e1;
  height: 89px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    height: 73px;
  }
  @media screen and (min-width: 1280px) {
    height: 45px;
  }
}
.footer__copyright {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  text-align: center;
  @media screen and (min-width: 768px) {
    line-height: 1.86;
  }

  color: #907e82;
}
