@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 115px;
  }
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-reviews__item {
  font-family: 'DM Sans', sans-serif;
}

.customer-reviews__img {
  width: 85px;
  height: 85px;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}

.customer-reviews__content {
  padding: 26px 66px;
  background-color: #fafafa;
  position: relative;
  margin-bottom: 30px;
}

.customer-reviews__content::after {
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 5;
  background-image: url(../images/customer-reviews/quotes-customer-reviews.svg);
}

.customer-reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  position: relative;
  z-index: 10;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
  background-image: repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

.customer-reviews__dots {
  display: block;
  margin: 0 auto 18px auto;
  position: relative;
  background-color: #c7133e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  font-size: 0;
}

.customer-reviews__dots::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: -10px;
  border-radius: 50%;
  font-size: 0;
  background-color: #c7133e;
}

.customer-reviews__dots::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  font-size: 0;
  left: 10px;
}

.darkbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  background-color: #d41443;
  color: #ffffff;
  width: 102px;
  height: 40px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.darkbutton:hover, .darkbutton:focus {
  background-color: #c7133e;
}

.lightbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  background-color: #ffffff;
  color: #d41443;
  width: 138px;
  height: 40px;
  border: none;
  border-radius: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lightbutton:hover, .lightbutton:focus {
  background-color: #ecebeb;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */