@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
}

img {
  display: block;
  wid th: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 115px;
  }
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding-left: 46px;
    padding-right: 115px;
  }
}

.header .nav {
=======
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customer-reviews {
  padding: 40px 0px;
}

.customer-reviews__item {
  font-family: 'DM Sans', sans-serif;
}

.customer-reviews__img {
  width: 85px;
  height: 85px;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}

.customer-reviews__content {
  padding: 26px 66px;
  background-color: #fafafa;
  position: relative;
  margin-bottom: 30px;
}

.customer-reviews__content::after {
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 5;
  background-image: url(../images/customer-reviews/quotes-customer-reviews.svg);
}

.customer-reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  position: relative;
  z-index: 10;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
  background-image: repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text {
    font-size: 16px;
  }
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .customer-reviews__name {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__name {
    font-size: 20px;
  }
}

.customer-reviews__dots {
  display: block;
  margin: 0 auto 18px auto;
  position: relative;
  background-color: #c7133e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  font-size: 0;
}

.darkbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__list {
  display: none;
  margin-left: 110px;
}

@media screen and (min-width: 1280px) {
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .nav__link {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
}

.header .nav__link--current {
  color: #d41443;
}

.header .nav__item:not(:last-child) {
  margin-right: 35px;
}

.header__btn {
  display: none;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: #ffffff;
  color: #d41443;
  padding: 12px 37px;
  min-width: 160px;
  border: none;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header__btn {
    margin-left: auto;
  }
}

.header__btn:hover, .header__btn:focus {
  background-color: #ecebeb;
}

.menu-btn {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.btn__icon {
  fill: #d41443;
  margin-left: 8px;
}

.menu-icon {
  fill: #d41443;
}

.hero {
  background-color: #ffb8ca;
}

.hero__container {
  min-height: 502px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero__container {
    min-height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    min-height: 665px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
    line-height: 0.91;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__container--title {
  position: absolute;
  top: 193px;
}

@media screen and (min-width: 768px) {
  .hero__container--title {
    top: 102px;
    left: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--title {
    top: 171px;
    left: 115px;
  }
}

.hero__container--decoration {
  position: absolute;
  top: 83px;
  left: 36px;
  background-color: #ffa5ba;
  border-radius: 50%;
  width: 346px;
  height: 344px;
}

@media screen and (min-width: 768px) {
  .hero__container--decoration {
    top: 31px;
    left: 307px;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--decoration {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero__container--icecream {
  position: absolute;
  bottom: 0;
  left: 117px;
  width: 171px;
}

@media screen and (min-width: 768px) {
  .hero__container--icecream {
    width: 143px;
    left: 378px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--icecream {
    width: 236px;
    left: 594px;
  }
}

.hero__container--milk {
  display: none;
  position: absolute;
  width: 124px;
  left: 34px;
  bottom: 28px;
}

@media screen and (min-width: 768px) {
  .hero__container--milk {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--milk {
    width: 188px;
    left: 77px;
    bottom: 45px;
  }
}

.hero__container--tasty {
  display: none;
  position: absolute;
  width: 168px;
  left: 566px;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .hero__container--tasty {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--tasty {
    width: 293px;
    left: 878px;
    bottom: 0px;
  }
}

.hero__container--info {
  display: none;
  position: absolute;
  left: 154px;
  bottom: 34px;
}

@media screen and (min-width: 768px) {
  .hero__container--info {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container--info {
    left: 295px;
    bottom: 56px;
  }
}

.hero__subtitle {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  width: 114px;
  height: 48px;
  margin-bottom: 7px;
}

@media screen and (min-width: 1280px) {
  .hero__subtitle {
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__btn--next {
  cursor: pointer;
  width: 18px;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) {
  .hero__btn--next {
    width: 26px;
  }
}

.hero__btn {
  cursor: pointer;
  float: left;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 21px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .hero__btn {
    font-size: 14px;
    line-height: 1.29;
    padding: 7px 33px;
  }
}

.hero__btn--dark {
  margin-right: 8px;
  background-color: #d41443;
  color: #ffffff;
}

.hero__btn--dark:hover, .hero__btn--dark:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 1280px) {
  .hero__btn--dark {
    margin-right: 15px;
  }
}

.hero__btn--light {
  background-color: #ffffff;
  color: #d41443;
}

.hero__btn--light:hover, .hero__btn--light:focus {
  background-color: #ecebeb;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  margin-bottom: 144px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 58px;
    margin-bottom: 259px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
  }
}

.products__item {
  position: relative;
  padding-bottom: 41px;
  min-height: 440px;
  text-align: center;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .products__item {
    margin-right: 10px;
    margin-left: 10px;
    -ms-flex-preferred-size: calc(33.33333% - 20px);
        flex-basis: calc(33.33333% - 20px);
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item {
    margin-right: 15px;
    margin-left: 15px;
    -ms-flex-preferred-size: calc(33.33333% - 30px);
        flex-basis: calc(33.33333% - 30px);
    min-height: 525px;
    padding-bottom: 50px;
  }
}

.products__item::before {
  position: absolute;
  width: 249px;
  height: 252px;
  top: 0;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .products__item::before {
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item::before {
    width: 335px;
    height: 335px;
    margin-top: -50px;
  }
}

.icecream-card {
  background-color: #ffb8ca;
}

.icecream-card::before {
  background-image: url(../images/products/icecream-products-mobile@1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-mobile@2x.png);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-mobile@3x.png);
  }
}

@media screen and (min-width: 768px) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-tablet@1x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-tablet@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-tablet@3x.png);
  }
}

@media screen and (min-width: 1280px) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-desktop@1x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-desktop@2x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .icecream-card::before {
    background-image: url(../images/products/icecream-products-desktop@3x.png);
  }
}

.icecoffee-card {
  background-color: #f0d1a5;
  margin-top: 130px;
}

@media screen and (min-width: 768px) {
  .icecoffee-card {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .icecoffee-card {
    margin-top: 0;
  }
}

.icecoffee-card::before {
  background-image: url(../images/products/icecoffee-products-mobile@1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-mobile@2x.png);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-mobile@3x.png);
  }
}

@media screen and (min-width: 768px) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-tablet@1x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-tablet@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-tablet@3x.png);
  }
}

@media screen and (min-width: 1280px) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-desktop@1x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-desktop@2x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .icecoffee-card::before {
    background-image: url(../images/products/icecoffee-products-desktop@3x.png);
  }
}

.milkshakes-card {
  background-color: #c2e297;
  margin-top: 146px;
}

@media screen and (min-width: 768px) {
  .milkshakes-card {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .milkshakes-card {
    margin-top: 0;
  }
}

.milkshakes-card::before {
  background-image: url(../images/products/milkshakes-products-mobile@1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-mobile@2x.png);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-mobile@3x.png);
  }
}

@media screen and (min-width: 768px) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-tablet@1x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-tablet@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-tablet@3x.png);
  }
}

@media screen and (min-width: 1280px) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-desktop@1x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-desktop@2x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .milkshakes-card::before {
    background-image: url(../images/products/milkshakes-products-desktop@3x.png);
  }
}

.products__subtitle {
  padding-top: 161px;
  margin-bottom: 30px;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products__subtitle {
    padding-top: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .products__subtitle {
    padding-top: 163px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__text {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products__text {
    line-height: 1.76;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__text {
    font-size: 16px;
    max-width: 241px;
    margin-bottom: 62px;
  }
}

.products__btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: unset;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.products__btn:hover, .products__btn:focus {
  background-color: #ecebeb;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.products__icon {
  fill: #d41443;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}

.products__dots {
  display: block;
  margin: 0 auto 18px auto;
  position: relative;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
}

.products__dots::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -10px;
  border-radius: 50%;
  font-size: 0;
  background-color: #ffffff;
}

.products__dots::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 0;
  left: 10px;
}

.products__description {
  position: absolute;
  font-size: 18px;
  top: -50px;
  left: 0;
  width: 280px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: transform 250ms linear, opacity 250ms linear;
  transition: transform 250ms linear, opacity 250ms linear, -webkit-transform 250ms linear;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products__description {
    width: 210px;
    left: 100%;
    font-size: 16px;
    top: -70px;
  }
}

@media screen and (min-width: 1280px) {
  .products__description {
    width: 320px;
    top: -60px;
    font-size: 20px;
    left: 0;
  }
}

.products__btn:hover .products__description,
.products__btn:focus .products__description {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.products__description-icecream {
  background-color: #ffb8ca;
}

.products__description-icecoffee {
  background-color: #f0d1a5;
}

.products__description-milkshakes {
  background-color: #c2e297;
}

.about-section {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .about-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-section__caption {
  margin-bottom: 15px;
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}

.about-section__title {
  margin-bottom: 26px;
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}

.about-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section__image {
  width: 100%;
  margin-bottom: 46px;
}

.about-section__meta {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}

@media screen and (max-width: 767px) {
  .about-section__meta {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.about-section__meta--no-padding {
  padding: 0;
}

.about-section__heading {
  color: #000000;
  margin-bottom: 30px;
}

.about-section__text {
  color: #907e82;
}

.about-section__text--bottom {
  display: block;
  margin-top: 15px;
  margin-bottom: 24px;
}

.about-section__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 176px;
  min-height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: #ffffff;
  color: #d41443;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-section__button:hover, .about-section__button:focus {
  background-color: #ecebeb;
}

.about-section__icon {
  margin-left: 14px;
  fill: #d41443;
  stroke: #d41443;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(225, 121, 146, 0.5);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-0.5, -0.5) scale(1.1);
          transform: translate(-0.5, -0.5) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  width: 80%;
  max-height: 90%;
  border-radius: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d41443;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus, .modal__button:hover {
  color: #c7133e;
}

.modal__close-icon {
  fill: #ffffff;
}

.advantages {
  padding-bottom: 97px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: -30px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__set {
    margin: -45px;
  }
}

.advantages__item {
  display: inline-block;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 3 * 60px) / 3);
    max-width: 180px;
    margin: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 3 * 90px) / 3);
        flex-basis: calc((100% - 3 * 90px) / 3);
    max-width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

.advantages__item::before {
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/advantages/dug-glass.png);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantages/apple-glass.png);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/advantages/heart-candy.png);
}

.advantages__number {
  display: block;
  margin-bottom: 20px;
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantages__text {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customer-reviews__item {
  font-family: 'DM Sans', sans-serif;
}

.customer-reviews__img {
  width: 85px;
  height: 85px;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}

.customer-reviews__content {
  padding: 26px 66px;
  background-color: #fafafa;
  position: relative;
  margin-bottom: 30px;
}

.customer-reviews__content::after {
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 5;
  background-image: url(../images/customer-reviews/quotes-customer-reviews.svg);
}

.customer-reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  position: relative;
  z-index: 10;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
  background-image: repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 31px, transparent 31px);
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

.customer-reviews__dots {
  display: block;
  margin: 0 auto 18px auto;
  position: relative;
  background-color: #c7133e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  font-size: 0;
}

.customer-reviews__dots::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: -10px;
  border-radius: 50%;
  font-size: 0;
  background-color: #c7133e;
}

.customer-reviews__dots::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  font-size: 0;
  left: 10px;
}

ul.slick-dots {
  margin: 30px 0 0 0;
  text-align: center;
}

ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}

ul.slick-dots li button {
  border: none;
  background-color: #d9d9d9;
  outline: none;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
}

ul li.slick-active button {
  background: url(../images/customer-reviews/home-customer-reviews.svg) transparent;
  border-radius: 0;
}

.contacts {
  background: linear-gradient(#ffffff 84px, #fff5f6 84px);
}

.contacts__overlay {
  background-image: url(../images/contacts/drops-bg-contacts.png);
  background-repeat: no-repeat;
  background-position: top 100px right;
  background-size: contain;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
}

.contacts__item {
  max-width: 220px;
  padding: 43px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__label--primary {
  width: 80px;
  margin-bottom: 25px;
  border-radius: 4px;
  background-color: #f0d1a5;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__label--secondary {
  width: 130px;
  margin-bottom: 25px;
  border-radius: 4px;
  background-color: #c2e297;
  font-size: 12px;
  text-align: center;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__city {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__text {
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}

.contacts__table {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__table-row {
  margin-bottom: 10px;
}

.contacts__weekdays {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__time {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: normal;
  color: #ffa5ba;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
}

.contacts__link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__link:hover, .contacts__link:focus {
  color: #000000;
}

.contacts__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  width: 161px;
  height: 44px;
  border: none;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__button--red {
  background-color: #d41443;
  color: #ffffff;
}

.contacts__button--red:hover, .contacts__button--red:focus {
  background-color: #c7133e;
}

.contacts__button--white {
  margin-top: 10px;
  margin-bottom: 113px;
  background-color: #ffffff;
  color: #d41443;
}

.contacts__button--white:hover, .contacts__button--white:focus {
  background-color: #ecebeb;
}

.contacts__icon {
  margin-left: 10px;
}

.contacts__icon--red {
  fill: #d41443;
  stroke: #d41443;
}

.contacts__icon--white {
  fill: #fff;
  stroke: #fff;
}

.footer {
  background-color: #fff5f6;
}

.footer__container {
  padding-top: 57px;
  padding-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 79px;
    padding-bottom: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1280px) {
  .footer__container {
    padding-top: 83px;
    padding-bottom: 97px;
  }
}

.footer__title {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    width: 50%;
  }
}

.footer__heading {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: left;
  color: #ffa5ba;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer__heading {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__heading {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.footer__caption {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__caption {
    font-size: 48px;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__caption {
    font-size: 58px;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

@media screen and (min-width: 1280px) {
  .networks {
    margin-bottom: 50px;
  }
}

.networks__item:not(:last-child) {
  margin-right: 28px;
}

@media screen and (min-width: 768px) {
  .networks__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .networks__item:not(:last-child) {
    margin-right: 25px;
  }
}

.networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.networks__link:hover, .networks__link:focus {
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .networks__link {
    width: 34px;
    height: 34px;
  }
}

.footer__contacts {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  text-align: right;
  color: #000;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contacts {
    font-size: 16px;
  }
}

.footer__tel {
  color: #d41443;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #e1e1e1;
  height: 89px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 73px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__box {
    height: 45px;
  }
}

.footer__copyright {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.86;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 21px 60px 21px;
  background-color: #e17992;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1280px) {
  .menu-container {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
}

.menu-close__icon {
  fill: #fff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  width: 209px;
  height: 44px;
  border: none;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  color: #d41443;
}

.menu-button:hover, .menu-button:focus {
  background-color: #ecebeb;
}

.menu-button__icon {
  margin-left: 16px;
  fill: #d41443;
  stroke: #d41443;
}

.mobile-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
}

.mobile-menu__link {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #d41443;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */