<section id="about" class="about-section">
    <div class="container about-section__container">
        <p class="about-section__caption">Tradition and love</p>
        <h2 class="about-section__title">How it’s made?</h2>
        <article class="about-section__content">
            <picture class="about-section__image">
                <source
                    srcset="./images/about/cow-about-mobile@1x.png 1x, ./images/about/cow-about-mobile@2x.png 2x, ./images/about/cow-about-mobile@3x.png 3x"
                    media="(max-width: 767px)">
                <source
                    srcset="./images/about/cow-about-tablet@1x.png 1x, ./images/about/cow-about-tablet@2x.png 2x, ./images/about/cow-about-tablet@3x.png 3x"
                    media="(min-width: 768px) and (max-width: 1279px)">
                <source
                    srcset="./images/about/cow-about-desktop@1x.png 1x, ./images/about/cow-about-desktop@2x.png 2x, ./images/about/cow-about-desktop@3x.png 3x"
                    media="(min-width: 1280px)">
                <img src="./images/about/cow-about-mobile@1x.png" alt="Splashing milk with a cow on the background">
            </picture>
            <div class="about-section__meta">
                <h3 class="about-section__heading">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.</h3>
                <p class="about-section__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                    orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <span class="about-section__text--bottom">Aliquam erat volutpat. Aenean accumsan.</span>
                </p>
                <button class="about-section__button" type="button" data-modal-open>Read more
                    <svg class="about-section__icon" width="20" height="20">
                        <use href="./images/icons.svg#arrow-ios-right"></use>
                    </svg>
                </button>
            </div>
        </article>
    </div>
</section>
<!-- Modal Window -->
<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__button" data-modal-close>
            <svg class="modal__close-icon" width="14" height="14">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
       <div class="modal__content">
        <p class="about-section__caption">Wow</p>
        <h2 class="about-section__title">You're curious!</h2>
        <div class="about-section__meta about-section__meta--no-padding">
            <h3 class="about-section__heading">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas
                eros.
                Maecenas eleifend erat at justo fringilla.</h3>
            <p class="about-section__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                orci in imperdiet
                placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <span class="about-section__text--bottom">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ad laboriosam eligendi distinctio provident, iusto quasi debitis dignissimos id suscipit, inventore quibusdam ratione placeat culpa sunt molestias aspernatur adipisci velit eius? Sint natus ut vitae ullam necessitatibus. Laboriosam perspiciatis dignissimos minus ad consectetur. Rerum eius deserunt sunt ea, adipisci dolor! Nulla dolor quae, quas cumque laboriosam nisi ea consequatur eligendi aliquam magnam iure, libero id, accusamus sapiente ducimus dolores dicta! Mollitia illum harum commodi dignissimos consequatur odit fugiat, eos officia rerum deleniti officiis quis dolores sit perferendis obcaecati sequi eius consectetur velit ducimus aspernatur iste! Facilis eaque tenetur ratione eum.</span>
            </p>
            <p class="about-section__caption">Now, let’s get back to more important stuff...</p>
        </div>

       </div>
    </div>
    <script>
        (() => {
                const refs = {
                    openModalBtn: document.querySelector('[data-modal-open]'),
                    closeModalBtn: document.querySelector('[data-modal-close]'),
                    modal: document.querySelector('[data-modal]'),
                };

                refs.openModalBtn.addEventListener('click', toggleModal);
                refs.closeModalBtn.addEventListener('click', toggleModal);

                function toggleModal() {
                    document.body.classList.toggle("modal-open");
                    refs.modal.classList.toggle('backdrop--is-hidden');
                }
            })();
    </script>
</div>