<section class="advantages">
    <div class="container">
        <h1 class="invisible-heading">Our advantages</h1>
        <ul class="advantages__set">
            <li class="advantages__item">
                <b class="advantages__number">721</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <b class="advantages__number">16kg</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <b class="advantages__number">84</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>