<!------- Contacts ---------------------------------------------------------------------------------------------------->
    <section class="contacts">

        <h2 class="invisible-heading">Ice Cream</h2>

        <div class="contacts__container">
            
            <div class="contacts__list list">
                <ul class="contacts__item items">
                    <li class="contacts__item">
                        <h3 class="contacts__label">CAFE</h3>
                        <p>Chicago</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                            
                        </div>
                        <div>
                            <a href="">+61(0) 383 766 284</a>
                            <a href="">noreply@envato.com</a>
                        </div>
                    </li>
                    <li class="contacts__item">
                        <h3 class="contacts__label">FOODTRUCK</h3>
                        <p>Los Angeles</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                            
                        </div>
                        <div>
                            <a href="">+61(0) 383 766 284</a>
                            <a href="">noreply@envato.com</a>
                        </div>
                    </li>
                    <li class="contacts__item">
                        <h3 class="contacts__label">CAFE</h3>
                        <p>New York</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                            
                        </div>
                        <div>
                            <a href="">+61(0) 383 766 284</a>
                            <a href="">noreply@envato.com</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="">
                    <li class="button">
                        <button class="filter__button" type="button">Our Locations</button>
                    </li>
                    <li class="button">
                        <button class="filter__button" type="button">Franchise</button>
                    </li>
                </ul>

                <!-- <button class="footer__button footer__button--dark" type="button">Our location
                    <svg class="footer__icon footer__icon--light" width="20" height="20">
                        <use href="./images/icons.svg#arrow-ios-right"></use>
                    </svg>
                </button>
                <button class="footer__button footer__button--light" type="button">Franshise
                    <svg class="footer__icon footer__icon--dark" width="20" height="20">
                        <use href="./images/icons.svg#arrow-ios-right"></use>
                    </svg>
                </button> -->
            </div>
            
        </div>
    </section>