<!------- Contacts ---------------------------------------------------------------------------------------------------->
<section class="contacts">

    <h2 class="invisible-heading">Ice Cream</h2>

    <div class="contacts__container">

        <div class="contacts__list list">
            <ul class="contacts__item items">
                <li class="contacts__item">
                    <h3 class="contacts__label">CAFE</h3>
                    <p class="contacts__city">Chicago</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <p class="contacts__weekdays">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <div class="contacts__contact">
                        <a href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact-email">noreply@envato.com</a>
                    </div>
                </li>

                <li class="contacts__item">
                    <h3 class="contacts__label">FOODTRUCK</h3>
                    <p class="contacts__city">Los Angeles</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <p class="contacts__weekdays">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <div class="contacts__contact">
                        <a href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact-email">noreply@envato.com</a>
                    </div>
                </li>

                <li class="contacts__item">
                    <h3 class="contacts__label">CAFE</h3>
                    <p class="contacts__city">New York</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <p class="contacts__weekdays">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <div class="contacts__contact">
                        <a href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact-email">noreply@envato.com</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="box-buttons">

            <button class="contacts__button contacts__button--red" type="button">Our Locations</button>
            <button class="contacts__button contacts__button--white" type="button">Franchise</button>


            <!-- <button class="footer__button footer__button--dark" type="button">Our location
                    <svg class="footer__icon footer__icon--light" width="20" height="20">
                        <use href="./images/icons.svg#arrow-ios-right"></use>
                    </svg>
                </button>
                <button class="footer__button footer__button--light" type="button">Franshise
                    <svg class="footer__icon footer__icon--dark" width="20" height="20">
                        <use href="./images/icons.svg#arrow-ios-right"></use>
                    </svg>
                </button> -->
        </div>

    </div>
</section>