<!------ Contacts ---------------------------------------------------------------------------------------------------->

<section class="contacts" id="contacts">

    <h2 class="invisible-heading">Contacts</h2>

    <div class="contacts__overlay">

        <div class="contacts__container">
            <ul class="contacts__list">
                <li class="contacts__item">
                    <p class="contacts__label--primary">CAFE</p>
                    <p class="contacts__city">Chicago</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <div class="contacts__table-row">
                            <p class="contacts__weekdays">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </div>

                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <address class="contacts__address contacts__link">
                        <a class="contacts__link" href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383
                            766 284</a>
                        <a class="contacts__link" href="mailto:noreply@envato.com"
                            class="contacts__contact-email">noreply@envato.com</a>
                    </address>
                </li>

                <li class="contacts__item">
                    <p class="contacts__label--secondary">FOODTRUCK</p>
                    <p class="contacts__city">Los Angeles</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <div class="contacts__table-row">
                            <p class="contacts__weekdays">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <address class="contacts__address contacts__link">
                        <a class="contacts__link" href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383
                            766 284</a>
                        <a class="contacts__link" href="mailto:noreply@envato.com"
                            class="contacts__contact-email">noreply@envato.com</a>
                    </address>
                </li>

                <li class="contacts__item">
                    <p class="contacts__label--primary">CAFE</p>
                    <p class="contacts__city">New York</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__table">
                        <div class="contacts__table-row">
                            <p class="contacts__weekdays">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <p class="contacts__weekdays">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </div>

                    <address class="contacts__address contacts__link">
                        <a class="contacts__link" href="tel:+610383766284" class="contacts__contact-phone">+61(0) 383
                            766 284</a>
                        <a class="contacts__link" href="mailto:noreply@envato.com"
                            class="contacts__contact-email">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>

        <div class="box-buttons">

            <button class="contacts__button contacts__button--red" type="button" data-modal-contacts-open>Our location
                <svg class="contacts__icon contacts__icon--white" width="20" height="20">
                    <use href="./images/icons.svg#arrow-ios-right"></use>
                </svg>
            </button>
            <button class="contacts__button contacts__button--white" type="button" data-modal-franchise-open>Franshise
                <svg class="contacts__icon contacts__icon--red" width="20" height="20">
                    <use href="./images/icons.svg#arrow-ios-right"></use>
                </svg>
            </button>
        </div>

    </div>

</section>
<!------- Modal window ---------------------------------------------------------------------------------------------------->


<div class="contacts-modal contacts--is-hidden" data-modal-contacts>
    <div class="contacts-modal__container">
        <button type="button" class="contacts-modal__button" data-modal-contacts-close>
            <svg class="contacts-modal__close" width="14" height="14">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        
        
        <a href="https://www.google.com/maps/d/u/0/edit?mid=1mJQAG8yJIujklAHRpL-TPgy0vByw8mfc&ll=38.086958809708385%2C-97.42833623601004&z=4"
            class="contacts-about__section" target="_blank">
            <button type="button" class="contacts-location__buttom">Click ME ></button> </a>

            
                
                <img src="./images/location/location-icecream.jpg" alt="IceCream" height="200" width="300"
                    sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw, 100vw" />
            
        
            


        
    </div>
    <script>
        (() => {
            const refs = {
                openModalBtn: document.querySelector('[data-modal-contacts-open]'),
                closeModalBtn: document.querySelector('[data-modal-contacts-close]'),
                modal: document.querySelector('[data-modal-contacts]'),
            };

            refs.openModalBtn.addEventListener('click', toggleModal);
            refs.closeModalBtn.addEventListener('click', toggleModal);

            function toggleModal() {
                document.body.classList.toggle("modal-open");
                refs.modal.classList.toggle('contacts--is-hidden');
            }
        })();
    </script>
</div>