<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <div class="slider">
      <div class="customer-reviews__item slider__item">
        <img
          class="customer-reviews__img"
          width="85"
          height="85"
          srcset="
            ./images/customer-reviews/mashynya-customer-reviews@1x.png 1x,
            ./images/customer-reviews/mashynya-customer-reviews@2x.png 2x,
            ./images/customer-reviews/mashynya-customer-reviews@3x.png 3x
          "
          src="./images/customer-reviews/mashynya-customer-reviews@1x.png"
          alt="Photo of customer"
        />
        <div class="customer-reviews__content">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <span class="customer-reviews__name">Emily, Los Angeles</span>
      </div>

      <div class="customer-reviews__item slider__item">
        <img
          class="customer-reviews__img"
          width="85"
          height="85"
          srcset="
            ./images/customer-reviews/anechka-customer-reviews@1x.png 1x,
            ./images/customer-reviews/anechka-customer-reviews@2x.png 2x,
            ./images/customer-reviews/anechka-customer-reviews@3x.png 3x
          "
          src="./images/customer-reviews/anechka-customer-reviews@1x.png"
          alt="Photo of customer"
        />
        <div class="customer-reviews__content">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <span class="customer-reviews__name">Emily, Los Angeles</span>
      </div>

      <div class="customer-reviews__item slider__item">
        <img
          class="customer-reviews__img"
          width="85"
          height="85"
          srcset="
            ./images/customer-reviews/rosita-customer-reviews@1x.png 1x,
            ./images/customer-reviews/rosita-customer-reviews@2x.png 2x,
            ./images/customer-reviews/rosita-customer-reviews@3x.png 3x
          "
          src="./images/customer-reviews/rosita-customer-reviews@1x.png"
          alt="Photo of customer"
        />
        <div class="customer-reviews__content">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <span class="customer-reviews__name">Emily, Los Angeles</span>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="./js/slider.js"></script>
