<footer class="footer">
    <div class="container">
        <button class= "footer__button footer__button--dark" type="button">Our location
            <svg class="footer__icon footer__icon--light" width="20" height="20">
                <use href="./images/icons.svg#arrow-ios-right"></use>
            </svg>
        </button>
        <button class="footer__button footer__button--light" type="button">Franshise
            <svg class="footer__icon footer__icon--dark" width="20" height="20">
                <use href="./images/icons.svg#arrow-ios-right"></use>
            </svg>
        </button>
        <p class="footer__heading">homemade ice cream made</p>
        <p class="footer__caption">with passion</p>
        <ul class="networks">
            <li class="networks__item"><a class="networks__link" href="https://github.com" aria-label="Github">
                    <svg class="networks__icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                </a></li>
            <li class="networks__item"><a class="networks__link" href="https://web.telegram.org/" aria-label="Telegram">
                    <svg width="20" height="20">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a></li>
            <li class="networks__item"><a class="networks__link" href="https://www.facebook.com" aria-label="Facebook">
                    <svg width="20" height="20">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a></li>
        </ul>
        <div class="footer__contacts">
            <span class="footer__text">Feel free to contact</span> 
            <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a>
        </div>
        
    </div>
    <div class="footer__box">
            <p class="footer__copyright">&copy; 2019 - IceCream.</p> 
            <p class="footer__copyright"> All Rights Reserved.</p>
            
    </div>
</footer>

