<footer class="footer">
    <div class="container">
        <p class="footer__heading">homemade ice cream made</p>
        <p class="footer__caption">with passion</p>
        <ul class="networks">
            <li class="networks__item"><a class="networks__link" href="https://github.com" aria-label="Github">
                    <svg class="networks__icon" width="20" height="20">
                        <use href="./images/icons.svg#github"></use>
                    </svg>
                </a></li>
            <li class="networks__item"><a class="networks__link" href="https://web.telegram.org/" aria-label="Telegram">
                    <svg width="20" height="20">
                        <use href="./images/icons.svg#telegram"></use>
                    </svg>
                </a></li>
            <li class="networks__item"><a class="networks__link" href="https://www.facebook.com" aria-label="Facebook">
                    <svg width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                </a></li>
        </ul>
        <div class="footer__contacts">
            <span class="footer__text">Feel free to contact</span> 
            <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a>
        </div>
        <div class="footer__copyright">
            <p class="copy-text">&copy; 2019 - IceCream. <br>All Rights Reserved.</p>
            
        </div>
    </div>
</footer>

