<!-- Franchize -->
<div class="backdrop backdrop--is-hidden" data-modal-franchize>
    <div class="franchize">
        <button type="button" class="franchize__button--close" data-modal-franchize-close>
            <svg class="franchize__close-icon" width="14" height="14">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <form class="franchize__form">
            <b class="franchize__capture">Join us!</b>
            <h2 class="franchize__title">Leave your details, we'll call you back</h2>
            <ul class="franchize__list">
                <li class="franchize__field">
                    <label>
                        <span class="franchize__label">Name*</span>
                        <input class="franchize__input" type="text" name="user-name" autofocus autocomplete="off">
                    </label>
                </li>
                <li class="franchize__field">
                    <label>
                        <span class="franchize__label">Phone number*</span>
                        <input class="franchize__input" type="tel" name="user-tel" autocomplete="off">
                    </label>
                </li>
                <li class="franchize__field">
                    <label>
                        <span class="franchize__label">E-mail*</span>
                        <input class="franchize__input" type="email" name="user-email" autocomplete="off">
                    </label>
                </li>
                <li class="franchize__field">
                    <label>
                        <span class="franchize__label">Your comment</span>
                        <textarea class="franchize__input franchize__input--textarea" name="comment" rows="5"
                            placeholder="Enter your message"></textarea>
                    </label>
                </li>
            </ul>
            <button class="franchize__button--send" type="button" data-modal-franchize-open>Send
                <svg class="franchize__send-icon" width="20" height="20">
                    <use href="./images/icons.svg#arrow-ios-right"></use>
                </svg>
            </button>
        </form>
    </div>
    <script>
        
            (() => {
                const refs = {
                    openModalBtn: document.querySelector('[data-modal-franchize-open]'),
                    closeModalBtn: document.querySelector('[data-modal-franchize-close]'),
                    modal: document.querySelector('[data-modal-franchize]'),
                };

                refs.openModalBtn.addEventListener('click', toggleModal);
                refs.closeModalBtn.addEventListener('click', toggleModal);

                function toggleModal() {
                    refs.modal.classList.toggle('backdrop--is-hidden');
                }
            })();
    </script>
</div>