<section class="gallery id=gallery">

	<div class="container gallery_container">
		<h2 class="gallery__title invisible-heading">Gallery</h2>
		<div class="gallery__wrapper">
			<picture>
				<source media="(min-width:1280px)" srcset="images/gallery/gallery-desktop@3x.png 3x,
							images/gallery/gallery-desktop@2x.png 2x,
							images/gallery/gallery-desktop@1x.png 1x" type="image/png">
				<source media="(min-width:768px)" srcset="images/gallery/gallery-tablet@3x.png 3x,
							images/gallery/gallery-tablet@2x.png 2x,
							images/gallery/gallery-tablet@1x.png 1x" type="image/png">
				<source media="(min-width:320px)" srcset="images/gallery/gallery-mobile@3x.png 3x,
							images/gallery/gallery-mobile@2x.png 2x,
							images/gallery/gallery-mobile@1x.png 1x" type="image/png">

				<img src="images/gallery/gallery-mobile@1x.png" alt="Gallery">
			</picture>
		</div>
	</div>

</section>