<section class="gallery id=gallery">

	<div class="container gallery__container">
		<h2 class="gallery__title invisible-heading">Gallery</h2>

		<div class="grid">
			<div class="grid-sizer"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery1.jpg" alt="Ice-cream green"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery2.jpg" alt="Ice-cream cone"></div>
			<div class="grid-item grid-item--width2 grid-item--height2"><img class="grid-image" src="images/gallery/gallery3.jpg" alt="A lot of Ice-cream"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery4.jpg" alt="Ice-cream with fruits"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery5.jpg" alt="Dog with Ice-cream"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery6.jpg" alt="Ice-cream milk"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery7.jpg" alt="Ice-cream pink"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery8.jpg" alt="Girl with Ice-Cream"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery9.jpg" alt="Ice-cream red"></div>
			<div class="grid-item"><img class="grid-image" src="images/gallery/gallery10.jpg" alt="Ice-cofe"></div>
		</div>

	</div>

</section>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		
<script>
		var msnry = new Masonry('.grid', {
			columnWidth: '.grid-sizer',
			itemSelector: '.grid-item',
			fitWidth: true,
			horizontalOrder: true,
			gutter: 5,
			transitionDuration: '0.5s',
			stagger: 10
		});

		imagesLoaded(grid).on('progress', function () {
				// layout Masonry after each image loads
				msnry.layout();
			});
</script>