<section class="products" id="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item icecream-card">
                <h3 class="products__subtitle">ice cream</h3>
                <span class="products__dots"></span>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__btn"  type="button">
                    <svg class="products__icon" width="18px" height="14px">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                    <b class="products__description products__description-icecream">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</b>
                </button>
            </li>
            <li class="products__item icecoffee-card">
                <h3 class="products__subtitle">ice coffee</h3>
                <span class="products__dots"></span>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et</p>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="18px" height="14px">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                    <b class="products__description products__description-icecoffee">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</b>
                </button>
            </li>
            <li class="products__item milkshakes-card">
                <h3 class="products__subtitle">milkshakes</h3>
                <span class="products__dots"></span>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et</p>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="18px" height="14px">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                    <b class="products__description products__description-milkshakes">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</b>
                </button>
            </li>
        </ul>
    </div>
</section>